<main class="container">
    <h1>Todo List</h1>
    <div>
        <input class="todo-input" [(ngModel)]="todoInput" type="text" (keyup)="onKeyUp($event)"/>
        <button class="add-button" (click)="addTodo()" [disabled]="!todoInput.trim()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="box">
        @if (todoItems().length === 0){
            <p>No todo items</p>
        }
        @for (todo of todoItems(); track todo.id){
            <div appHighlightCompletedTodo [isCompleted]="todo.completed">
                <input id="todo-checkbox" type="checkbox" [checked]="todo.completed" (change)="toggleTodoCompletion(todo.id)"/>
                <label for="todo-checkbox"><p>{{todo.title}}</p></label>
                <button class="remove-button" (click)="removeTodo(todo.id)">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        }
    </div>
</main>